* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  padding: 10px 40px;
  background-color: white;
  border-color: #707070;
  border-radius: 10px;
  font-weight: bold;
  color: #707070;
}

.body {
  max-width: 1200px;
  margin: 0 auto;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #707070;
  font-weight: bold;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
  gap: 20px;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
  gap: 20px;
}
